<app-banner></app-banner>
<div style="flex: 1 1 auto;width: 100%;display: flex;">

  <div style="margin: auto;border: 1px solid black;background-color: white;" class="col-sm-4">

    <div class="container content">
      <div class="row">
        <button type="submit" mat-raised-button color="primary" style="text-align: left;">{{ title }}</button>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Email / Username</mat-label>
          <input matInput placeholder="Email / Username" autocomplete="off" [(ngModel)]="account" (change)="onAccountChange($event);">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" placeholder="Password" [(ngModel)]="password">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-checkbox color="primary" [(ngModel)]="rememberme">Remember Me</mat-checkbox>
        <a style="flex: 1 1 auto;"></a>
        <a style="float: right;" [routerLink]="['/forget-password']" [relativeTo]="" routerLinkActive="active">Forgot Password</a>
      </div>

      <div class="row">
        <button type="submit" mat-raised-button color="primary" (click)="login();">Login</button>
      </div>

      <div class="row">
        <button type="button" mat-button color="primary" [routerLink]="['/signup']" [relativeTo]="" routerLinkActive="active">Sign Up</button>
      </div>
    </div>


    <!-- <div class="form-group row">
      <input id="login_email" class="form-control col-sm-12" type="text" placeholder="Email/Username" >
    </div>

    <div class="form-group row">
      <input id="login_password" class="form-control col-sm-12" type="password" >
    </div> -->
  </div>
    <!-- <div>



    </div>

    <div class="modal-footer row">
      <button class="col-sm-3" type="submit"
        [ngClass]="{'btn btn-lg btn-block':true, 'btn-primary':true, 'btn-default':false}">
        Login
      </button>

      <a class="link col-sm-3" align="right"  style="float: right;">Sign Up</a>
      <a class="link col-sm-3" align="right"  style="float: right;">Forget password</a>
    </div> -->
</div>

<!-- <div class="login-page col-lg-4" style="background-color: white;">
  <div class="content px20">
    <form class="login-form" #myForm="ngForm">
      <div class="text-center">
        <h2 class="app-name">Cloud77 Login</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt20 mb20">

      </div>
      <div fxLayout="row">
        <div fxFlexFill>

        </div>
      </div>

    </form>
  </div>
</div> -->


<!-- <div style="position: absolute;height: 100%;width: 100%;z-index: -1;top: 0px;margin: auto;text-align: center;">
  <img src="assets/background.jpg" title="login" style="height: 100%;width: auto;opacity: 0.6;margin: auto;">
</div> -->
