<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{ title }}</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="card" style="margin: auto;">
    <div class="card-header">
      <p>reset password</p>
    </div>

    <div class="card-body">

      <mat-vertical-stepper>
        <mat-step>
          <ng-template matStepLabel>Email</ng-template>
          <div class="row">
            <mat-form-field appearance="outline" class="col-sm-12">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" [(ngModel)]="email">
            </mat-form-field>
          </div>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Token</ng-template>
          <button mat-raised-button color="primary" (click)="getToken();">Send token to your mailbox</button>
          <div class="row">
            <mat-form-field appearance="outline" class="col-sm-12">
              <mat-label>Token</mat-label>
              <input matInput placeholder="Token" [(ngModel)]="token">
            </mat-form-field>
          </div>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Password</ng-template>
          <div class="row">
            <mat-form-field appearance="outline" class="col-sm-12">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" [(ngModel)]="password">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="col-sm-12">
              <mat-label>Password Again</mat-label>
              <input matInput type="password" placeholder="Password again" [(ngModel)]="password2">
            </mat-form-field>
          </div>
          <button mat-raised-button matStepperNext color="primary" (click)="savePassword();">Save</button>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
