<div class="container col-lg-12" style="width: 100%;height: 100%;">
  <div class="row" style="height: 100%;">
    <div style="min-width: 500px;">
      <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
      <mat-card class="demo-inline-calendar-card">
        <mat-card-title>Selected date: {{selected}}</mat-card-title>
      </mat-card>
    </div>

    <div style="min-width: 500px;">
      <mat-vertical-stepper linear="true">
        <mat-step>
          <ng-template matStepLabel>User Info</ng-template>

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>

</div>
