<div class="card" style="height: 100%;width: 100%;">

  <div class="card-header">
    <p style="font-weight: bold;">Account Info</p>
  </div>

  <div class="card-body" style="display: flex;flex-flow: column;">

    <div style="padding: 0rem 1.25rem;">
      <div class="row">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [(ngModel)]="email" disabled>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="name" disabled>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>{{ role }}</mat-chip>
          <mat-chip color="accent" selected>{{ role }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <br/>
    <mat-divider></mat-divider>
    <br/>

    <mat-tab-group style="flex: 1 1 auto;">
      <mat-tab label="My Profile">
        <div style="width: 100%;height: auto;margin-left: 0px;" class="container">

          <div *ngIf="!foundProfile" style="margin: 5px 0px;">
            <span class="text-info">Find no profile in service, please fill out below, and submit it.</span>
          </div>

          <ng-container>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput placeholder="Surname" [(ngModel)]="profile.surname">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Given Name</mat-label>
                <input matInput placeholder="GivenName" [(ngModel)]="profile.givenName">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Company" [(ngModel)]="profile.company">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Company Type</mat-label>
                <input matInput placeholder="Company Type" [(ngModel)]="profile.companyType">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="profile.phone">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" [(ngModel)]="profile.city">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" [(ngModel)]="profile.title">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contact</mat-label>
                <input matInput placeholder="Contact" [(ngModel)]="profile.contact">
              </mat-form-field>
            </div>
          </ng-container>

          <div class="row">
            <button mat-flat-button color="primary" (click)="saveProfile()" [disabled]="profileBtnDisabled">
              {{ foundProfile ? "Update My Profile" : "Submit My Profile" }}
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="My License">
        <div class="container" style="margin-left: 0px;width: 100%;height: auto;">

          <ng-container *ngIf="!foundLicense">
            <div style="margin: 5px 0px;">
              <span class="text-info">Find no license in service, please fill out below, and submit it.</span>
            </div>

            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Scope</mat-label>
                <mat-select [(ngModel)]="scopeId">
                  <mat-option *ngFor="let item of scopes" [value]="item.guid">{{ item.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Region</mat-label>
                <mat-select [(ngModel)]="regionId">
                  <mat-option *ngFor="let item of regions" [value]="item.guid">{{ item.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <button mat-flat-button color="primary" [disabled]="licenseBtnDisabled" (click)="saveLicense()">
                Submit My License
              </button>
            </div>
          </ng-container>


          <ng-container *ngIf="foundLicense">
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <input matInput placeholder="Type" [(ngModel)]="license.licenseType" disabled>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <input matInput placeholder="Status" [(ngModel)]="license.status" disabled>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Region</mat-label>
                <input matInput placeholder="Region" [(ngModel)]="license.region" disabled>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Scope</mat-label>
                <input matInput placeholder="Scope" [(ngModel)]="license.scope" disabled>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Option1</mat-label>
                <input matInput placeholder="Option1" [(ngModel)]="license.option1" disabled>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Option2</mat-label>
                <input matInput placeholder="Option2" [(ngModel)]="license.option2" disabled>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Option3</mat-label>
                <input matInput placeholder="Option3" [(ngModel)]="license.option3" disabled>
              </mat-form-field>
            </div>

          </ng-container>

        </div>

      </mat-tab>


      <mat-tab label="My Devices">
        <div class="container" style="margin-left: 0px;width: 100%;height: auto;">
          <button mat-flat-button color="primary" (click)="asyncTest()">Async Test</button>
          <button mat-flat-button color="primary" (click)="createMockDevice()">Mock A Device</button>
          <table class="table table-sm table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Machine Code</th>
                <th>Install Date</th>
                <th>Creation Date</th>
                <th>Last Download Date</th>
                <th>App Version</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let device of devices">
                <td>{{ device.machineCode }}</td>
                <td>{{ device.installDate }}</td>
                <td>{{ device.creationDate | date : 'yyyy-MM-dd HH:mm' }}</td>
                <td>{{ device.lastDownloadDate | date : 'yyyy-MM-dd HH:mm' }}</td>
                <td>{{ device.appVer }}</td>
                <td>
                  <button>delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>

</div>
