<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      <span>{{ title }}</span>
      <span class="example-spacer"></span>
      <span style="flex: 1 1 auto;"></span>
      <button (click)="reverse()">reverse</button>
     </mat-toolbar-row>
  </mat-toolbar>

  <div class="card" style="margin: auto;">
    <div class="card-header">
      <h1> tutorial component {{ name }}</h1>
    </div>

    <div class="card-body">

      <div class="row">
        <div>
          <p *ngFor="let person of persons$ | async" >
            {{ person.personId }}.{{ person.name }} - {{ person.city }}
          </p>
        </div>
      </div>

      <div style="width: 100%;margin: auto;display: flex;">
        <video loop controls style="max-width: 800px;margin: auto;" src="https://coryrylan.com/assets/video/posts/2017-07-23-angular-tips-dynamic-module-imports-with-the-angular-cli/dynamic-module-import-in-angular.mp4"></video>
      </div>

    </div>
  </div>
</div>
